<html>
  <head>
    <link rel="stylesheet" href="../static/services.css">
  </head>
  <body>
    <nav class="navbar">
      <img src="../static/Images/mango-sc-logo.png" alt="Mango SC Logo" class="logo">
      <div class="nav-links">
          <div class="news">
              <span>News</span>
          </div>
          <div class="nav-services">
              <span>Services</span>
          </div>
      </div>
  </nav>
    
<section class="services">
  <div class="container">
    <h2 class="services-title">Our Services</h2>
    <div class="services-grid">
      <a href="./shop.html" class="service-card">
      <div class="service-card">
        <div class="service-icon">
          <i class="fas fa-code"></i>
        </div>
        <h3>Kits</h3>
        <img src="../static/Images/Men.png" alt="Web Development" srcset="" class="Kit" >
        <p class="Kit-p">Home & Away Kits</p>
      </div>
      </a>
      <a href="./shop.html" class="service-card">
      <div class="service-card">
        <div class="service-icon">
          <i class="fas fa-paint-brush"></i>
        </div>
        <h3>Accessories</h3>
        <img src="../static/Images/Bag.png" alt="Web Design" srcset="" class="Bag" id="Cap">
        <p class="Bag-p">Caps, Bags, etc.</p>
      </div>
      </a>

      <a href="./Tickets.html" class="service-card">
        <div class="service-icon">
          <i class="fas fa-mobile-alt"></i>
        </div>
        <h3>Tickets</h3>
        <img src="../static/Images/Tickets.png" alt="Mobile Apps" srcset="" class="Tickets">
        <p class="Tickets-p">Tickets for all matches</p>
      </a>
    </div>
      <button class="shop-now-btn" onclick="window.location.href='./shop.html'">Shop Now</button>

  </div>

</section> 
  </body>
</html>