<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/Shop.css">
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar">
        <img src="../static/mango-sc-logo.png" alt="Mango SC Logo" class="logo">
        <div class="nav-links">
            <div class="news">
                <span>News</span>
            </div>
            <div class="nav-services">
                <span>Services</span>
            </div>
        </div>
    </nav>

    <!-- Shop Section -->
    <section class="shop-section">
        <div class="products-grid">
            <!-- Row 1 -->
            <div class="product-card">
                <img src="../static/Images/totebag.png" alt="Tote Bag" class="totebag" id="totebag">
                <h3>Tote Bag</h3>
                <p class="price">199.99$</p>
            </div>

            <div class="product-card">
                <img src="../static/Images/front&backT-shirt.png" alt="Mango Sc T-Shirt">
                <h3>Mango Sc T-Shirt</h3>
                <p class="price">199.99$</p>
            </div>

            <div class="product-card">
                <img src="../static/Images/cap.png" alt="Mango Sc Cap">
                <h3>Mango Sc Cap</h3>
                <p class="price">199.99$</p>
            </div>

            <!-- Row 2 -->
            <div class="product-card">
                <img src="../static/Images/blackhoodie.png" alt="Mango Sc Hoodie">
                <h3>Mango Sc Hoodie</h3>
                <p class="price">199.99$</p>
            </div>

            <div class="product-card">
                <img src="../static/Images/IceCap.png" alt="Mango Sc Ice Cap">
                <h3>Mango Sc Ice Cap</h3>
                <p class="price">199.99$</p>
            </div>

            <div class="product-card">
                <img src="../static/Images/yellowhoodie.png" alt="Mango Sc Hoodie">
                <h3>Mango Sc Hoodie</h3>
                <p class="price">199.99$</p>
            </div>
        </div>
    </section>
</body>
</html>
